body {
    font-family: sans-serif;
    background-color: black;
  }

.pumpkin_img_big{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-header{
  text-align: center;
  color: red;
}